/* setting global variables */
* {
--border-color: teal;
--background-color: lightskyblue;
--text-color: lightslategray;
}

body{
  display: flex;
  flex-direction: column;
}

/* align all content in the center, set color and space content evenly */
header{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(8, 21, 101, 0.925);
  align-items: center;
}

/* set profile image size and make border round */
header img{
  height: 62px;
  width: 62px;
  border-radius: 20px;
}

/* give nav links their color and set the underline style */
header a{
  margin: 4px;
  text-decoration: none;
  color: var(--border-color);
  padding-bottom: 6px;
  border-bottom: 3px solid var(--border-color);  
}

header h1{
  background-color: var(--border-color);
  padding: 8px;
  margin: 5px;
  margin-left: 0px;
}

main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* min-height: calc(100vh - 237px); */
}

section{
  display: flex;
  margin-bottom: 40px;
  margin-right: 40px;
}

section h2{
  flex: 1;
}

section div{
  flex: 4;
}

/* give hero image size and set margin */
.hero {
  height: 200px;
  width: 100%;
  background-image: url("../images/hero2.jpg"); 
  background-size: cover; 
  background-position: center; 
  margin-bottom: 20px;
  position: relative;
}

/* set style, size and position for the text box on hero image */
.hero-text{
  width: 300px;
  height: 20px;
  background-color: var(--background-color);
  text-align: center;
  left: 68%;
  top: 80%;
  position: absolute;
}

/* create a side border for all body sections */
.side-border{
  border-right: 3px solid darkblue;
  margin-right: 15px;
  padding: 5px;
  text-align: right;
  word-spacing: 9999rem;
}

/* create a grid container and make it responsive */
.grid-container{
  display: grid;
  grid-template-columns: repeat(autofit, minmax(400px, 1fr));
  grid-template-rows: repeat(autofit, minmax(270px, 450px));
  grid-gap: 20px;
}

/* set position and font size for grid items */
.grid-item{
  position: relative;
  font-size: 25px;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  opacity: 50%;
}

/* make first grid item larger than the rest */
.grid-item-1{
  grid-column: span 2;
}

/* set grid item description text and its position */
.grid-item::before{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  bottom: 80px;
  background-color: var(--background-color);
}

/* when user hover over a work image, there is no opacity */
.grid-item:hover{
  opacity: 100%;
}

/* add description to each grid-item */
.grid-item-1::before {
  content: "Spy Game \A Java";
  white-space: pre;
}

.grid-item-2::before {
  content: "Snake Game \A Java";
  white-space: pre;
}

.grid-item-3::before {
  content: "SyllaShare \A React/Django";
  white-space: pre;
}

.grid-item-4::before {
  content: "Stronk King Kong \A Pigeon Forge";
  white-space: pre;
}

.grid-item-5::before {
  content: "Rainbow \A After rain";
  white-space: pre;
}

/* make work image fit in grid */
.work-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Space the contact links evenly and make it wrap */
.contact-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center ;
  font-weight: bold;
}

/* set underline style and position */
.contact-link a{
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 3px solid var(--border-color);  
}


